{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="height: 150px;"></div>
    <div class="row">
        <div class="col">
            <form method="post" action="{{ path('app_users_store') }}">
                <div class="col-xl-4">
                    <label
                            for="id-{{ constant('\\App\\Entity\\User::ATTR_NAME') }}"
                            class="form-label"
                    >
                        Jméno
                    </label>
                    <input
                            type="text"
                            name="{{ constant('\\App\\Entity\\User::ATTR_NAME') }}"
                            class="form-control"
                            id="id-{{ constant('\\App\\Entity\\User::ATTR_NAME') }}"
                    >
                </div>

                <div class="col-xl-4">
                    <label
                            for="id-{{ constant('\\App\\Entity\\User::ATTR_PASSWORD') }}"
                            class="form-label"
                    >
                        Heslo
                    </label>
                    <input
                            type="password"
                            name="{{ constant('\\App\\Entity\\User::ATTR_PASSWORD') }}"
                            class="form-control"
                            id="id-{{ constant('\\App\\Entity\\User::ATTR_PASSWORD') }}"
                    >
                </div>

                <div class="col-xl-4">
                    <label
                            for="id-{{ constant('\\App\\Entity\\User::ATTR_EMAIL') }}"
                            class="form-label"
                    >
                        Email
                    </label>
                    <input
                            type="email"
                            name="{{ constant('\\App\\Entity\\User::ATTR_EMAIL') }}"
                            class="form-control"
                            id="id-{{ constant('\\App\\Entity\\User::ATTR_EMAIL') }}"
                    >
                </div>

                <div class="col-xl-4">
                    <label
                            for="id-{{ constant('\\App\\Entity\\User::ATTR_TYPE') }}"
                            class="form-label"
                    >
                        Typ uživatele
                    </label>
                    <select
                            name="{{ constant('\\App\\Entity\\User::ATTR_TYPE') }}"
                            class="form-control"
                            id="id-{{ constant('\\App\\Entity\\User::ATTR_TYPE') }}"
                    >
                        {% for key, role in roles %}
                            <option value="{{ key }}">
                                {{ role }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-xl-4">
                    <input
                            type="submit"
                            class="form-control btn btn-primary"
                            value="Registrovat"
                            name="register"
                    >
                </div>
            </form>
        </div>
    </div>
{% endblock %}
